main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(90px);
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main section:nth-child(1) {
  position: relative;
  background: url(/img/Section-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  min-height: 85vh;
}

main section:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 10px white;
  bottom: 0;
}

main section:nth-child(1) div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 500px;
}

main section:nth-child(1) div h1 {
  font-family: "Arial", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-shadow: 2px 0 black;
}

main section:nth-child(1) div p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: yellow;
  text-shadow: 2px 0 black;
}

main section:nth-child(1) div a {
  width: 20%;
}

main section:nth-child(1) div button {
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.3s ease-in;
}

main section:nth-child(1) div button:hover {
  background-color: white;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(1) div h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  main section:nth-child(1) div h1 {
    font-size: 2rem;
  }
  main section:nth-child(1) div p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(1) div h1 {
    font-size: 1.7rem;
  }
  main section:nth-child(1) div p {
    font-size: 0.8rem;
  }

  main section:nth-child(1) div a {
    width: 40%;
  }
}
@media screen and (max-width: 420px) {
  main section:nth-child(1) div {
    width: 90%;
  }
  main section:nth-child(1) div h1 {
    font-size: 1.3rem;
  }
  main section:nth-child(1) div p {
    font-size: 0.8rem;
  }

  main section:nth-child(1) div a {
    width: 50%;
  }
}

main section:nth-child(2) {
  position: relative;
  padding: 90px 0;
  justify-content: center;
  background-color: #f5f5f5;
}

main section:nth-child(2) div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 400px;
}

main section:nth-child(2) div h1 {
  margin: 10px 0;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
}

main section:nth-child(2) div p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(2) div h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  main section:nth-child(2) div h1 {
    font-size: 1.3rem;
  }

  main section:nth-child(2) div p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  main section:nth-child(2) div {
    align-items: center;
    height: 300px;
  }

  main section:nth-child(2) div p {
    font-size: 0.8rem;
  }
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px 0;
}

main section:nth-child(3) div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  gap: 20px;
}

main section:nth-child(3) div div {
  display: flex;
  flex-basis: calc(33.333% - 20px);
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main section:nth-child(3) div span {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  background-color: #fff;
  border-left: 5px solid yellow;
  transform-origin: left;
}

main section:nth-child(3) div h1 {
  margin: 10px 0;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #333;
  letter-spacing: 1px;
}

main section:nth-child(3) div span p {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  color: #777;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(3) div h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(3) div {
    padding: 10px 0;
  }

  main section:nth-child(3) div h1 {
    font-size: 1.3rem;
  }

  main section:nth-child(3) div div {
    flex-basis: calc(50% - 20px);
  }

  main section:nth-child(3) div span {
    height: 200px;
  }

  main section:nth-child(3) div span p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  main section:nth-child(3) div p {
    font-size: 0.8rem;
  }
}

main section:nth-child(4) {
  padding: 20px 0;
  justify-content: center;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

main section:nth-child(4) div:nth-child(1) {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

main section:nth-child(4) h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

main section:nth-child(4) p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  color: black;
}

main section:nth-child(4) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

main section:nth-child(4) img {
  margin: 10px;
  max-width: calc(30% - 20px);
  height: auto;
  transition: transform 0.3s ease-in-out;
}

main section:nth-child(4) img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  main section:nth-child(4) div {
    width: 90%;
  }
  main section:nth-child(4) h1 {
    font-size: 2rem;
  }
  main section:nth-child(4) p {
    font-size: 1rem;
  }
  main section:nth-child(4) img {
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  main section:nth-child(4) h1 {
    font-size: 1rem;
  }
  main section:nth-child(4) p {
    font-size: 0.9rem;
  }
  main section:nth-child(4) img {
    max-width: calc(100% - 20px);
  }
}
